body { 
    font-family: Arial; 
    display:flex; 
    justify-content:center; 
    margin-top:50px;
}
.todo-container { 
    width:300px; 
}

input {
     width: 70%; 
     padding:5px; 
     border-radius: 5px;
     
}
button { 
    padding:5px 10px;
    color: black; 
    background: green;
    border: 0;
    border-radius: 5px;
}
button:hover { 
    
    color: white; 
    background: blue;
}
li { 
    display:flex; 
    justify-content:space-between; 
    padding:5px 0; 
}
.done { 
    text-decoration: line-through; 
    color: gray; 
}
h2{
    color: blue;
}
